@import '../../../../public/styles.scss';

.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 90vh;

  .no-customer {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: $dark-grey;
      padding: 0.5rem 1rem;
      border: 1px solid $medium-grey;
      background-color: white;
      transition: background-color ease;
      &:hover {
        background-color: $medium-grey;
        color: white;
      }
    }
  }

  .shipping-details {
    width: 60%;
    padding: 0 3rem;
    margin-top: 5%;

    .detail-group {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      border-bottom: 1px solid #cacaca;

      label {
        text-transform: uppercase;
        margin-right: 1rem;
      }

      input {
        background-color: white;
        padding: 0.5rem 1rem;
        border: none;
        font-size: 1rem;
        outline: 0;
        flex-grow: 1;
      }
    }

    .order-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      text-decoration: none;
      margin-top: 10%;
      background-color: #008cdd;
      border: 1px solid #008cdd;
      font-size: 1rem;
      font-weight: bold;
      color: white;
      border-radius: 5px;
      padding: 1rem;
      transition: opacity 200ms;
      &:hover {
        opacity: 0.8;
      }
      &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }

      svg {
        margin-left: 0.5rem;
      }
    }
  }

  .order-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    border-left: 1px solid $medium-grey;

    .product {
      width: 100%;
      padding: 1rem;

      .product-details {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-left: 1rem;
        padding-right: 2rem;

        .product-image {
          width: 80px;
          height: 80px;
          object-fit: contain;
          margin-right: 2rem;
        }

        p {
          font-size: 1.2rem;
        }

        .price {
          margin-left: auto;
        }
      }
    }

    .order-summary {
      background-color: $very-light-grey;
      padding: 1rem 2rem;
      border-top: 1px solid $medium-grey;
      border-bottom: 1px solid $medium-grey;
      width: 100%;

      .total-price {
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: $tablet-bp) {
  .checkout-container {
    flex-direction: column-reverse;
    align-items: center;

    .no-customer {
      padding: 1rem;
      text-align: center;
    }

    .shipping-details {
      width: 100%;
      padding: 1rem;
    }

    .order-details {
      width: 100%;
      border-left: none;
    }
  }
}
