@import '../../../../public/styles.scss';
@import 'node_modules/react-image-gallery/styles/scss/image-gallery.scss';

.product-container {
  min-height: 90vh;
  padding: 1rem 5rem;
  background-color: $very-light-grey;

  .product {
    display: flex;

    .product-image-container {
      background-color: white;
      padding: 1rem 2rem;

      .back-to-shop {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
        color: $dark-grey;
        margin-bottom: 1.5rem;
        transition: color 200ms ease;
        &:hover {
          color: $medium-grey;
        }
      }

      .image-gallery-image {
        width: 300px;
        height: 300px;
        object-fit: contain;
      }

      .image-gallery-thumbnails-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .image-gallery-thumbnail {
          width: 50px;
          height: 50px;
          overflow: hidden;

          &.active {
            border: 2px solid $active-green;
          }
        }

        .image-gallery-thumbnail-inner {
          width: 50px;
          height: 50px;
          object-fit: contain;
        }
      }
    }

    .product-details {
      width: 100%;
      padding: 2rem 2rem 1rem 2rem;
      background-color: white;

      .product-description {
        font-size: 1.2rem;
      }

      .product-price {
        font-weight: bold;

        .discounted {
          text-decoration: line-through;
          color: $medium-grey;
        }
      }

      .quantity-container {
        margin: 1rem 0;
      }

      .add-to-cart-btn {
        display: block;
        margin: 1rem 0;
        background-color: $active-green;
        color: white;
        border: 1px solid $active-green;
        &:hover {
          background-color: white;
          color: $active-green;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-bp) {
  .product-container {
    padding: 1rem;

    .product {
      flex-direction: column;
    }
  }
}
